{% load i18n %}
<nav aria-label="..." style="margin-top: 10px; display: flex;justify-content: center;">
    <ul class="pagination pagination-circle" style="float: none;">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?{{looking_for}}{{years}}{{searchGenre}}page={{page_obj.previous_page_number}}">{% trans 'Previous' %}</a>
        </li>
        {% endif %}
        
        {% for p in paginator.page_range %}
        {% if page_obj.number == p %}
            <li class="page-item active" aria-current="page">
                <a class="page-link" href="#">{{p}}</a>
            </li>
        {% elif p > page_obj.number|add:-2 and p < page_obj.number|add:2 %}
            <li class="page-item"><a class="page-link" href="?{{looking_for}}{{years}}{{searchGenre}}page={{p}}">{{p}}</a></li>
        {% endif %}
        {% endfor %}
        
        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?{{looking_for}}{{years}}{{genres}}page={{page_obj.next_page_number}}">{% trans 'Next' %}</a>
        </li>
        {% endif %}
    </ul>
</nav>
