{% extends 'base.html' %}
{% load static %}
{% load my_tags %}
{% block content %}
{% load crispy_forms_tags %}



<div class="left-ads-display col-lg-9">
    <div class="row">
        <div class="row-md-4 product-men">
            <div class="product-shoe-info editContent text-center mt-lg-4">
                <div class="men-thumb-item">
                    <img src="{{ movie.poster.url }}" class="img-fluid" alt="">
                </div>
                <div class="item-info-product">
                    <h4 class="">
                        <a href="{{ movie.get_absolute_url }}" class="editContent">
                            {{ movie.title }}
                        </a>
                    </h4>
                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money editContent">{{ movie.tagline }}</span>
                        </div>
                    </div>
                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money editContent">{{ movie.country }}</span>
                        </div>
                    </div>
                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money editContent">{{ movie.year }}</span>
                        </div>
                    </div>
                    <div class="product_price">
                        <div class="grid-price">
                            <span class="money editContent">{{ movie.description|safe}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% rating movie %}   
            
        </div>

    </div>


    <!-- ===============================rating form to display rating stars -->
    <form action="{% url 'rating' %}" name="rating">
        <b>Rate {{object}}</b>
        {% csrf_token %}

        <input type="hidden" value="{{ movie.id }}" name="movie">
        <span class="rating">

            {% for k, v in star_form.fields.star.choices %}
            <!-- дані типу {choice_id:choice_value} -->

            {% if v|add:"0" == star_given %}
            {{star_given}}
            <!-- choices values are string type. |add:"0" mekes them to interger-->
            <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}" checked>
            <!-- the view needs a foreign key model instance so the choise_id should be passed -->
            <label for="rating{{ v }}" class="estimated"></label>
            {% else %}
            <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
            <label for="rating{{ v }}"></label>

            {% endif %}
            {% endfor %}
        </span>

    </form>
    <!-- ===============================rating form to display rating stars -->


</div>
{% endblock %}

{% block comments %}


<!-- review form with mptt -->
<div style="    text-align: center;
width: 80%;
margin: 0 auto;
background-color: #def1f7;
padding: 10px;
margin-bottom: 20px;">
    <form action="{% url 'add_comment_mptt' object.pk %}" method="post" id="review_form_mptt">
        {% csrf_token %}
        <input type="hidden" name="parent" id="parent_mptt">
       
        <div class="row">
            <div class="col-md-6">{{form_mptt.name|as_crispy_field}}</div>
            <div class="col-md-6">{{form_mptt.email|as_crispy_field}}</div>
        </div>
        <div>{{form_mptt.text|as_crispy_field}}

        </div>
        <!-- {% comment %}            
        {{form.fields|as_crispy_field}}
        {% endcomment %} -->
            
        
        <button class="btn btn-info btn-rounded" type="submit">Add comment</button>
    </form>
    <span id="csrf_new_form_mptt">{% csrf_token %}</span>
</div>
    
    
<!-- mptt reviews display -->
{% load mptt_tags %}
<ul id="recursetree">
    {% recursetree object.reviewviamptt_set.all %}
    <li>
        <div class="comment alert alert-info" id="{{node.id}}">
            <h3>{{node.name}}</h3>
            <h4>{{node.created_at|date:"d/m/Y H:i:s"}}</h4>
            <p>{{node.text}}</p>
        </div>
        <a href="#review_form_mptt_new" onclick="reactCommentMptt('{{node.id}}')">Відреагувати</a>
        {% if not node.is_leaf_node %}
        <ul class="children pl-2 pl-md-5 " style="list-style: None;">
            {{ children }}
        </ul>
        {% endif %}
    </li>
    {% endrecursetree %}
</ul>
{% endblock %}